.container {
  aspect-ratio: 5 / 7;
  min-width: 75px;
  max-width: 150px;
  flex-basis: calc(100% / 4); /*figure out the numbers*/
  perspective: 1000px;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  box-shadow: 0 3px 18px 3px rgba(30, 130, 250, 0.8);
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  position: absolute;
  user-select: none;
}

.front {
  background: var(--white);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.back {
  outline: 3px solid var(--white);
  outline-offset: -3px;
  transform: rotateY(180deg);
}

.flip {
  transform: rotateY(180deg);
}

.info {
  width: 100%;
  height: 100%;
}

.art {
  z-index: -1;
  -webkit-user-drag: none;
}
